.profile {
    display: inline-block;
    padding:20px ;
    box-shadow: 4px 4px 4px greenyellow;
    border: 2px solid greenyellow;
    transition: all 0.3s ease 0s;
}
.profile:hover {
    box-shadow: 7px 7px 7px greenyellow;
}
.description {

}
.avatar {
    width: 200px;
    height: 250px;

}
.name {
    font-size: 20px;
    font-weight: 700;
}
.tag {
    color: royalblue;
    font-size: 15px;
}
.location {
    font-weight: 600;
}
.stats {
    padding: 0;
    text-align: left;
    list-style: none;
}
.label {
    display: inline-block;
    margin-bottom: 15px;
    
}
.label:last-child {
    margin-bottom: 0px;

}
.quantity {
    margin: 0 0 0 5px;
}
